@import url("./root.css");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none !important;
}

.my-container{
    max-width: 1084px !important;
}
/* nav-uper-section */
.bg-blue{
    background: var(--s-gradient-2, linear-gradient(260deg, #0047FF -13.37%, #00BCD4 109.53%));
}

/* nav-section */
.bg-nav-black{
    background: rgba(0, 0, 0, 0.60);
}